
outputs/*


!outputs/visualizations/
!outputs/visualizations/results_reports/
!outputs/visualizations/results_report/**
 
data/raw/

outputs/
*.png
*.jpg
*.jpeg
*.pt
*.pth
__pycache__/
.ipynb_checkpoints/
